@use '../base';
@use '../mixins';

.planet__img__wrapper {
    margin: 7rem auto 5.5rem;
    position: relative;
}

.planet__img {
    width: 50%;
    margin: auto;
}

.geology {
    position: absolute;
    width: 30%;
    bottom: -25%;
    left: 35%;
}

.sections {
    text-align: center;
}

.planet__title {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
}

.planet__details {
    font-size: 0.6875rem;
    line-height: 2.1;
    margin-top: 1rem;
}

.planet__more--btn {
    color: white;
    font-size: 0.75rem;
    margin-left: .5rem;
    margin-right: .5rem;

    &:hover,
    &:focus {
        // font-weight: 900;
        cursor: pointer;
        outline: dashed currentColor;
        outline-offset: 0.25em;
    }

}

.source__img {
    display: inline;
}

.planet__details__source {
    margin-top: 2rem;
    font-size: 0.75rem;
    opacity: 0.6;
}

.info__List {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 1rem;
}

.info__list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    margin-bottom: 0.5rem;
    padding: .6rem;
}

.info__list__data {
    font-size: .5rem;
    text-transform: uppercase;
    color: base.$white;
}

.info__list__description {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}

@media screen and (min-width: 384px) {
    .info__list__item {
        flex-direction: column;
        gap: 1rem;
    }
}

@media screen and (min-width: 680px) {
    .sections {
        text-align: left;
        margin-top: 1rem;
    }

    .planet__img {
        width: 63.5%;
    }

    .geology {
        width: 35%;
        left: 32.5%;
    }

    .tabbed {
        position: relative;
    }

    .info__List {
        margin-top: 1.8rem;
    }

    .planet__title {
        font-size: 3rem;
    }

    .section__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .planet__details__wrapper {
        padding-top: 1rem;
    }

    .planet__img__wrapper {
        grid-area: 1/1/4/3;
    }
}

@media screen and (min-width: 1080px) {
    .section__wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .planet__details__wrapper {
        padding-top: 0;
       // min-width: 420px;
    }

    .planet__img__wrapper {
        margin: 7rem auto 10rem;
    }

    .planet__img {
        width: 100%;
    }

    .geology {
        width: 35%;
    }

    .saturn__geology {
        top: 35%;
    }

    .planet__details {
        font-size: 0.875rem;
    }

    .tab__list {
        //  max-width: 350px;
        //  width: 100%;
        //  right: 8%;
        max-width: 410px;
        width: 100%;
        right: 0;
    }

    .planet__title {
        font-size: 5rem;
    }

    .info__list__data {
        font-size: 0.6875rem;
    }

    .planet__details__source {
        margin-top: 0;
    }

}