@use '../base';
@use 'sass:color';

.main__title {
	text-transform: uppercase;
	font-size: 1.75rem;
	line-height: 1;
}

.main__heading {
	padding: 1rem 1.5rem;
	//border: 1px solid $lighen(white, 40%);
}

.main__nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.main__nav__list {
	position: absolute;
	left: -1.5rem;
	background-color: base.$dark-blue;
	width: 100vw;
	top: 2.5rem;
	z-index: 1;
	padding-top: 2.5rem;
	min-height: 100vh;
}

.modal__hide {
	display: none;
}

.planet {
	margin-bottom: 2.8rem;
	position: relative;

	&::after {
		position: absolute;
		content: "";
		width: 88%;
		height: 1px;
		background-color: base.$white;
		bottom: -1.5rem;
		margin-left: 6%;
		margin-right: 6%;
	}
}

.toggle--btn {
	background: transparent;
	border: none;

	&:hover, &:focus {
		cursor: pointer;
		outline: dashed base.$white;
		outline-offset: 0.25em;
	}
}

.planet--btn {
	position: relative;
	margin-left: 4rem;
	display: flex;
	color: base.$white;
	font-size: 0.9375rem;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	user-select: none;

	&::before {
		position: absolute;
		content: "";
		width: 1.25rem;
		height: 1.25rem;
		background-color: base.$mercury;
		border-radius: 50%;
		left: -2.5rem;
	}

	&::after {
		position: absolute;
		content: url("../../assets/icon-chevron.svg");
		right: 0;
		padding-right: 2rem;
	}

}

.venus--btn {
	&::before {
		background-color: base.$venus;
	}
}

.earth--btn {
	&::before {
		background-color: base.$earth;
	}
}

.mars--btn {
	&::before {
		background-color: base.$mars;
	}
}

.jupiter--btn {
	&::before {
		background-color: base.$jupiter;
	}
}

.saturn--btn {
	&::before {
		background-color: base.$saturn;
	}
}

.uranus--btn {
	&::before {
		background-color: base.$uranus;
	}
}

.neptune--btn {
	&::before {
		background-color: base.$neptune;
	}
}

@media screen and (min-width: 680px) {
	.main__heading {
		padding: 2rem 3.2rem;
		position: relative;

		&::after {
			position: absolute;
			content: "";
			width: 100%;
			height: 1px;
			background-color: white;
			width: 100%;
			height: 1px;
			left: -.5rem;
			bottom: 0;
			opacity: .3;
		}
	}

	.modal__hide {
		display: flex;
	}

	.main__nav {
		flex-direction: column;
		align-items: center;
	}

	.main__nav__list {
		display: flex;
		position: relative;
		left: 0;
		min-height: auto;
		width: 100%;
		justify-content: space-between;
		margin-top: 0;
		top: 0;
	}

	.planet {
		margin-bottom: 0;

		&::after {
			width: 0;
			height: 0;
		}

	}

	.toggle--btn {
		display: none;
	}

	.planet--btn {
		margin-left: auto;
		opacity: 0.5;
		outline: none;

		&::before {
			width: 0;
			height: 0;
		}

		&::after {
			content: "";
			width: 0;
			height: 0;
		}
	}
}

@media screen and (min-width: 1080px) {
	.main__nav {
		flex-direction: row;
		align-items: first baseline;
	}


}

@media screen and (min-width: 1280px) {
	.main__title {
		flex: 1 1 50%;
	}

	.main__nav__list {
		flex: 1 1 50%;
		padding-top: 0;
		padding-bottom: 0;
	}
}