@use '../base';

//themes
@mixin theme($name, $color) {
  .#{$name} {
    [role="tablist"] [aria-selected] {
      color: base.$white;
    }

    [role="tablist"] [aria-selected]::after {
      background-color: $color;
    }

    .planet--btn {
      outline: none;    
     
      &:hover::after,
      &:focus::after {
        transform: scale(1.5);           
      }

    }

  }

  @media screen and(min-width: 680px) {
    .#{$name} {
      [role="tablist"] [aria-selected] {
        background-color: $color;
      }

      .planet--btn {        
        &:hover, &:focus {
          cursor: pointer;
          outline: dashed $color;
          outline-offset: 0.25em;
        }
      }

      .planet:hover::after,
      .planet--btn:focus::after {
        width: 100%;
        height: 3px;
        left: 0rem;
        top: 2rem;
        background-color: $color;
        transform: scale(1);

      }
    }
  }

  @media screen and(min-width: 1080px) {
    .#{$name} {

      .planet:hover::after,
      .planet--btn:focus::after {
        top: -2.3rem;
      }

    }
  }
}



$themes: (theme-mercury: base.$mercury,
  theme-earth: base.$earth,
  theme-jupiter: base.$jupiter,
  theme-mars: base.$mars,
  theme-neptune: base.$neptune,
  theme-saturn: base.$saturn,
  theme-uranus: base.$uranus,
  theme-venus: base.$venus);

@each $theme,
$color in $themes {
  @include theme($theme, $color);
}

/*
@include theme(theme-mercury, base.$mercury);
@include theme(theme-earth, base.$earth);
@include theme(theme-jupiter, base.$jupiter);
@include theme(theme-mars, base.$mars);
@include theme(theme-neptune, base.$neptune);
@include theme(theme-saturn, base.$saturn);
@include theme(theme-uranus, base.$uranus);
@include theme(theme-venus, base.$venus);
*/