$main-bg-color: orange;
$heading-font: 'Antonio', sans-serif;
$main-font: 'Spartan', sans-serif;
$white: #ffffff;
$dark-blue: #070724;
$greyish-blue: #38384f;
$grey: #838391;

$mercury: #419EBB;
$venus: #F7CC7F;
$earth: #545BFE;
$mars: #FF6A45;
$jupiter: #ECAD7A;
$saturn: #FCCB6B;
$uranus: #65F0D5;
$neptune: #497EFA;