/* Error: Module loop: this module is already being loaded.
 *   ,--> src\scss\base\_index.scss
 * 1 | @forward './index';
 *   | ^^^^^^^^^^^^^^^^^^ new load
 *   '
 *   ,--> src\scss\layouts\_main.scss
 * 1 | @use '../base';
 *   | ============== original load
 *   '
 *   src\scss\base\_index.scss 1:1     @use
 *   src\scss\layouts\_main.scss 1:1   @forward
 *   src\scss\layouts\_index.scss 1:1  @use
 *   src\scss\main.scss 1:1            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Module loop: this module is already being loaded.\a   \250c \2500 \2500 > src\\scss\\base\\_index.scss\a 1 \2502  @forward './index';\a   \2502  ^^^^^^^^^^^^^^^^^^ new load\a   \2575 \a   \250c \2500 \2500 > src\\scss\\layouts\\_main.scss\a 1 \2502  @use '../base';\d\a   \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original load\a   \2575 \a   src\\scss\\base\\_index.scss 1:1     @use\a   src\\scss\\layouts\\_main.scss 1:1   @forward\a   src\\scss\\layouts\\_index.scss 1:1  @use\a   src\\scss\\main.scss 1:1            root stylesheet";
}
